2012-ADVSE-ws-lab2/CalculatorImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions
	targetNamespace="http://ws.smx.itri.org.tw/"
	name="CalculatorImplService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://ws.smx.itri.org.tw/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<xs:schema
			version="1.0"
			targetNamespace="http://ws.smx.itri.org.tw/"
			xmlns:tns="http://ws.smx.itri.org.tw/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">

			<xs:element
				name="add"
				type="tns:add" />

			<xs:element
				name="addResponse"
				type="tns:addResponse" />

			<xs:complexType
				name="add">
				<xs:sequence>
					<xs:element
						name="arg0"
						type="xs:int" />
					<xs:element
						name="arg1"
						type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType
				name="addResponse">
				<xs:sequence>
					<xs:element
						name="return"
						type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message
		name="add">
		<part
			name="parameters"
			element="tns:add" />
	</message>
	<message
		name="addResponse">
		<part
			name="parameters"
			element="tns:addResponse" />
	</message>
	<portType
		name="Calculator">
		<operation
			name="add">
			<input
				message="tns:add" />
			<output
				message="tns:addResponse" />
		</operation>
	</portType>
	<binding
		name="CalculatorImplPortBinding"
		type="tns:Calculator">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation
			name="add">
			<soap:operation
				soapAction="" />
			<input>
				<soap:body
					use="literal" />
			</input>
			<output>
				<soap:body
					use="literal" />
			</output>
		</operation>
	</binding>
	<service
		name="CalculatorImplService">
		<port
			name="CalculatorImplPort"
			binding="tns:CalculatorImplPortBinding">
			<soap:address
				location="http://localhost:8192/Adder" />
		</port>
	</service>
</definitions>

